@import 'tailwind.css';
body {
font-family: "Inter", "Source Sans Pro", Helvetica, Arial, sans-serif;
}
/* highlight class for nodes that differ */
.json-diff-highlight-mismatch {
  background: #faad63;
  margin: 0 4px;
  color: #fff;
}

.json-diff-highlight-missing {
  background: #e3342f;
  margin: 0 4px;
  color: #fff;
}

/* temporary flash when clicked via diff list */
.json-diff-flash {
  outline: 3px solid #ffeb99;
  transition: outline 0.25s ease-in-out;
}
